.heading1_events {
    text-align: center;
    margin-top: 4%;
    font-size: 2.5rem;
}
.events_container{
    margin: 2% 8%;
    padding: 3.2%;
    gap: 9.6%;
    position: relative;
    display: flex;
}
.separator_events_page {
    padding-top: 0.5%;
    margin: 3.2% 11% 3.2% 11%;
}
.events_bottom_images{
    margin: 2% 15% 3%;
}
.events_bottom_images img{
    object-fit: cover;
    max-height: 472px;
}
.online_article_container{
    margin: 2% 8%;
    padding: 3.2%;
    gap: 14.6%;
    position: relative;
    display: flex;
}

