.heart_and_teeth_container{
    position: relative; 
    padding: 0% 17%;
}
.heart_and_teeth_container img{
    object-fit: cover;
    width: 50%;
}
.separator_explore{
    padding-top: 0.5%;
    margin: 3% 17% 3% 17%;
}
.secondheading_1_explore_page{
    text-align: center;
    margin-top: 3.2%;
}
.thirdheading_1_explore_page{
    text-align: center;
    margin-top: 3.2%;
    font-size: 1.5rem;
}
.last_paragraph_explore_page{
    padding: 0% 30%;
}
.bottom_images_explore{
    padding: 3.2%;
}
.bottom_images_explore img{
    object-fit: cover;
    max-height: 350px;
    border: 2px solid #2f2b2b;
}
