.homeimagetop{
    object-fit: cover;
    width: 100%;
}
.blackseparator1{
    width: 100%;
    padding-top: 1%;
}
.home_article1_container{
    background-color: unset;
    padding: 20px;
    width: 49%;
    margin: auto;
}
.home_article1_container ul{
    list-style-type: none;
    margin-inline-start: 8%;
}
.homeimages-middle {
    padding: 0rem;
    margin: 0rem;
}
.homeimages-middle img{
    object-fit: cover;
    width: 50%;
    max-height: 507px;
}
.home_article2_container {
    width: 50%;
    padding: 1.6em; 
}
.home_article2_container h2{
     text-align: center;
}
.home_article2_container p{
    top: 190%;
    list-style-type: none;
    margin-inline-start: 8%;
}
.home_article2_container h2{
    top: 6%;
    left: 30%;
    list-style-type: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 2.0rem;
    margin-inline-start: 8%;
}
.submenu_grid_container{
    display: grid;
    grid-template-columns: auto auto;
    width: 50%;
    padding: 1.6em;
}
.grid_submenu{
    border: unset;
    padding: 2rem;
    text-align: center;
}
.grid_submenu .home_button,.Events_button_button,.Museum_button,.Exhibition_button,.Explore_button,.Visit_Us_button{
    border-radius: 73%;
    padding: 3%;
    width: 30vh;
    border: unset;
    font-size: 1.5rem;
    font-weight: 700;
}
.grid_submenu .home_button{
    background: #28B92EED;
}
.grid_submenu .Events_button_button{
    background: #28A7B9E5;
}
.grid_submenu .Museum_button {
    background: #AD28B9E5;
}
.grid_submenu .Exhibition_button{
    background: #3428B9E5;
}
.grid_submenu .Explore_button{
    background: #28B92EED;
}
.grid_submenu .Visit_Us_button{
    background: #28A7B9E5;
}



















