body {
    margin: 0;
    padding: 0;
}

.splash_header {
    width: 100%;
    left: 0;
    right: 0;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(40, 167, 185, 0.9);
}
.splash_logo ul {
    list-style-type: none;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    margin-left: 10%;
    white-space: nowrap;
}
.splash_image_container {
    padding: 0%;
    margin: 0%;
    animation: splashAnimation 3s ease-in-out forwards;
}

.splash_image_container img {
    object-fit: cover;
    width: 100%;
    height: 70vh;
}

.splash_footer {
    width: 100%;
    left: 0;
    right: 0;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(40, 167, 185, 0.9);
}

.splash_footer p {
    text-align: center;
    font-size: 2em;
}

.footer_splash p {
    margin: unset;
    margin-top: 2%;
}


@keyframes splashAnimation {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.5;
        transform: scale(1.2);
    }

    100% {
        opacity: 0;
        transform: scale(0.8);
    }
}

@media screen and (max-width: 1024px){
    .splash_logo ul {

        font-size: 3.5rem;
    }
    .splash_image_container img {
        
        height: 50vh;
    }
    .splash_footer {
        
        height: 30vh;
        
    }
    .splash_footer p {

        font-size: 3.5em;
    }
}

@media screen and (max-width: 768px) {
    .splash_header {
        height: 42vh;
    }
    .splash_image_container img {
        height: 28vh;
    }

}

@media screen and (max-width: 500px) {
    .splash_header {
        height: 42vh;
    }

    .splash_image_container img {
        height: 22vh;
    }

}
