.heading2_visit_page{
    padding-left: 8%;
    font-size: 2em;
}
.first_paragraph_visit_page {
    padding: 0% 8%;
}
.separator_visit_page {
    padding-top: 0.5%;
    margin: 2rem 9rem 0rem 9rem;
}
.food_article_container{
    margin: 2% 7%;
    padding: 1rem 7rem 2rem 0rem;
    gap: 4rem;
    position: relative;
}
.food_article_container img{
    max-width: 100%;
        height: 80vh;
        object-fit: contain;
        display: block;
}
.wheel_chair_container {
    margin: 2% 6%;
    padding: 2em;
    gap: 6rem;
    position: relative;
}
.google_map_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 6%;
    padding: 2em;
    gap: 1rem;
}
.g-map{
    left: 0%;
}

.google_map_container article{
    position: relative;
}
iframe{
    height: 40vh;
        width: 100%;
        object-fit: contain;
}