.heading2_visit_page{
    padding-left: 8%;
    font-size: 2em;
}
.first_paragraph_visit_page {
    padding: 0% 8%;
}
.separator_visit_page {
    padding-top: 0.5%;
    margin: 2rem 9rem 0rem 9rem;
}
.food_article_container{
    margin: 2% 7%;
    padding: 1rem 7rem 2rem 0rem;
    gap: 4rem;
    position: relative;
}
.food_article_container img{
    max-width: 100%;
    width: 20.83vw;
    object-fit: contain;
    display: block;
}
.wheel_chair_container {
    margin: 2% 7%;
    padding: 1rem 7rem 2rem 0rem;
    gap: 4rem;
    position: relative;
}
.wheel_chair_container img {
    max-width: 100%;
    width: 20.83vw;
    object-fit: contain;
    display: block;
}
.google_map_container{
margin: 2% 7%;
    padding: 1rem 7rem 2rem 0rem;
    gap: 4rem;
    position: relative;
}

iframe{
    max-width: 100%;
    width: 23vw;
    height: 18vh;
    object-fit: contain;
    display: block;
}